/* --------- FONTS ----------- */

@font-face {
  font-family: 'blankaregular';
  font-display: swap;
  src: url('/black/blanka-regular-webfont.woff2') format('woff2'),
  url('/black/blanka-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* --------- TYPES ----------- */

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #2f2f2f;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 1.4em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
}

a {
  color: #fd9beb;
  text-decoration: none;
  display: inline-block;
}

p {
  margin: 0 0 25px 0;
}

a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: background-color 0.7s cubic-bezier(0.23, 1, 0.32, 1), transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #fd9beb;
}

a:hover::after {
  transform: scaleX(1);
}

h1 {
  font-family: "blankaregular";
  font-size: 62px;
  line-height: 1.4em;
  text-align: center;
}

h2 {
  font-size: 28px;
  line-height: 1.4em;
}

h3 {
  font-family: "blankaregular";
  font-size: 22px;
  line-height: 1.4em;
}

@media (min-width: 728px) {
  h1 {
    font-size: 90px;
  }

  h3 {
    font-size: 32px;
  }
}

/* ---------- MENU ---------- */

#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 14px;
  width: 100vw;
  max-width: 100%;
}

#main-nav .links {
  display: none;
}

#main-nav:target .links {
  display: block;
  animation-name: fadeInFromNone;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

#main-nav:target .open {
  display: none;
}

#main-nav:target .close {
  display: block;
  background-position: 0 -52px;
}

#main-nav .open {
  display: block;
}

#main-nav .close {
  display: none;
}

#main-nav .menubutton {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  line-height: 40px;
  background-image: url('nav-toggle.png');
  background-size: 50px 103px;
  background-position: 0 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 51px;
  overflow: hidden;
  z-index: 5;
}

#main-nav .menubutton::after {
  content: none;
}

#main-nav .links {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: none;
  z-index: 4;
  background-color: #222;
}

#main-nav .links {
  padding-bottom: 55px;
  padding-top: 55px;
  padding-left: 15vw;
  padding-right: 15vw;
  max-height: 100%;
  width: 100%;
}

#main-nav .links a {
  display: block;
  position: relative;
  line-height: 60px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 20px;
  text-align: center;
  transition: color 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "blankaregular";
  z-index: 0;
}

#main-nav .links a:hover {
  color: #222;
}

#main-nav .links a::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: background-color 0.7s cubic-bezier(0.23, 1, 0.32, 1), transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #fc03cf;
  z-index: -1;
}

#main-nav .links a:hover::after {
  transform: scaleX(1);
}

/* ---------- INTRO ---------- */

#intro {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ".  .  h1 h1 h1 h1 h1 h1 h1 h1 .  . "
    ".  ic ic ic .  h2 h2 h2 h2 h2 h2 . "
    ".  cp cp cp cp cp cp cp cp cp cp . "
}

#intro h1 {
  grid-area: h1;
}

#intro h2 {
  grid-area: h2;
  margin: 0 0 20px 0;
}

#intro .copy {
  grid-area: cp;
  text-align: justify;
}

#intro .icon {
  grid-area: ic;
  margin: 0 auto;
  text-align: center;
}

#intro .icon img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}

@media (min-width: 728px) {
  #intro {
    grid-template-rows: auto auto 25px auto 25px;
    grid-template-areas:
      ".  .  h1 h1 h1 h1 h1 h1 h1 h1 .  . "
      ".  h2 h2 h2 .  cp cp cp cp cp .  . "
      ".  .  .  .  .  cp cp cp cp cp .  . "
      ".  ic ic ic .  cp cp cp cp cp .  . "
      ".  .  .  .  .  cp cp cp cp cp .  . "
  }

  #intro h2 {
    text-align: center;
  }
}

@media (min-width: 1600px) {
  #intro {
    grid-template-rows: auto auto;
    grid-template-areas:
      ".  .  h1 h1 h1 h1 h1 h1 h1 h1 .  . "
      ".  h2 h2 ic .  cp cp cp cp cp .  . "
  }

  #intro h2 {
    text-align: right;
    margin-right: 20px;
    margin-top: 30px;
  }
}


/* ---------- ABOUT ---------- */

#about {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  cp cp cp cp cp cp cp cp cp cp . "
}

#about h3 {
  grid-area: h3;
  text-align: center;
}

#about .copy {
  grid-area: cp;
  text-align: justify;
}

#about .copy .term {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 20px;
}

#about .copy .term p {
  text-align: left;
}

#about .copy dt {
  font-size: 22px;
  margin-bottom: 15px;
}

#about .copy dd {
  margin-bottom: 15px;
  text-align: left;
}

#about .copy dd:last-of-type {
  margin-bottom: 30px;
}

@media (min-width: 728px) {
  #about .copy .term {
    padding: 25px;
  }

  #about .copy .intro {
    column-count: 2;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  #about .copy .terms {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "t1 t1 t1 t1 t2 t2 t2 t2 t3 t3 t3 t3"
  }

  #about .copy .terms .term {
    margin-right: 20px;
  }

  #about .copy .terms .term:nth-of-type(1) {
    grid-area: t1;
  }

  #about .copy .terms .term:nth-of-type(2) {
    grid-area: t2;
  }

  #about .copy .terms .term:nth-of-type(3) {
    grid-area: t3;
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  #about {
    grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  .  cp cp cp cp cp cp cp cp .  . "
  }
}

/* ---------- DOCS ---------- */

#docs {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  cp cp cp cp cp cp cp cp cp cp . "
    ".  ul ul ul ul ul ul ul ul ul ul . "
}

#docs h3 {
  grid-area: h3;
  text-align: center;
}

#docs .copy {
  grid-area: cp;
  text-align: justify;
}

#docs ul {
  grid-area: ul;
  margin: 0;
}

@media (min-width: 728px) {
  #docs {
    grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  cp cp cp cp cp .  ul ul ul ul . "
  }

  #docs .copy {
    text-align: left;
  }
}

@media (min-width: 1400px) {
  #docs {
    grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  .  .  cp cp cp .  ul ul ul .  . "
  }
}

/* ---------- FEATURES ---------- */

#features {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  cp cp cp cp cp cp cp cp cp cp . "
    ".  ul ul ul ul ul ul ul ul ul ul . "
}

#features h3 {
  grid-area: h3;
  text-align: center;
}

#features .copy {
  grid-area: cp;
  text-align: justify;
}

#features ul {
  grid-area: ul;
  margin: 0;
}

@media (min-width: 728px) {
  #features {
    grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  cp cp cp cp cp .  ul ul ul ul . "
  }

  #features .copy {
    text-align: left;
  }
}

@media (min-width: 1400px) {
  #features {
    grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  .  .  cp cp cp .  ul ul ul .  . "
  }
}

/* ---------- USERS ---------- */

#users {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ".  .  h3 h3 h3 h3 h3 h3 h3 h3 .  . "
    ".  .  ul ul ul ul ul ul ul ul .  . "
}

#users h3 {
  grid-area: h3;
  text-align: center;
}

#users ul {
  grid-area: ul;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  column-count: 2;
}

#users ul li {
  margin: 0 0 10px 0;
  padding: 0;
}

@media (min-width: 728px) {
  #users ul {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  #users ul {
    column-count: 4;
  }
}

#snowflake {
  margin: 50px 0; 
  text-align: center;
}

/* ---------- FOOTER ---------- */

#footer {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ".  cp cp cp cp cp cp cp cp cp .  . "
}

#footer div {
  grid-area: cp;
  text-align: left;
  font-size: 13px;
  line-height: 1.4em;
}

#footer p {
  margin-bottom: 5px;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

