body {
  color: black;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 300px;
  font-size: 12px;
}

#active {
  margin: 20px 0;
  text-align: center;
}

#statusimg {
  background-image: url("status-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 60px;
}
#statusimg.on {
  background-image: url("status-on.svg");
}
#statusimg.on.running {
  background-image: url("status-running.svg");
}

.b {
  border-top: 1px solid gainsboro;
  padding: 10px;
  position: relative;
}

.b a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.error {
  color: firebrick;
}

.learn:before {
  content : " ";
  display: block;
  position: absolute;
  top: 12px;
  background-image: url('arrowhead-right-12.svg');
  width: 12px;
  height: 12px;
  opacity : 0.6;
  z-index: 9999;
  right: 0px;
  margin-right: 10px;
}

/* Snowflake Status */

.transfering {
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
  fill: BlueViolet;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: BlueViolet;
}

input:focus + .slider {
  box-shadow: 0 0 1px BlueViolet;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Dark Mode Always */
body {
  /* https://design.firefox.com/photon/visuals/color.html#dark-theme */
  color: white;
  background-color: #38383d;
}
#statusimg {
  background-image: url("status-off-dark.svg");
}
#statusimg.on {
  background-image: url("status-on-dark.svg");
}
#statusimg.on.running {
  background-image: url("status-running.svg");
}
input:checked + .slider {
  background-color: #cc80ff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #cc80ff;
}
.learn:before {
  background-image: url('arrowhead-right-dark-12.svg');
}
